/* Hero */
.hero {
  padding-top: 7rem;
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    @include max(767px) {
      row-gap: 2.5rem;
    }
    @include max(575px) {
      row-gap: 1.6rem;
    }
  }
  @include max(575px) {
    // padding-bottom: 0;
    padding-top: 3rem;
  }
}

.hero__gradient {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    180deg,
    rgba(60, 59, 223, 1) 0%,
    rgba(60, 59, 223, 0.94) 37%,
    rgba(160, 159, 239, 0.7) 73%,
    rgba(255, 255, 255, 0.41) 91%
  );
  @include min(992px) {
    height: 62%;
  }
  @include max(575px) {
    background: #3e3de0;
    background: linear-gradient(
      180deg,
      rgba(62, 61, 224, 1) 0%,
      rgba(103, 102, 230, 1) 51%,
      rgba(177, 177, 242, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.hero__eyebrow {
  font-family: var(--font-four);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 5.6rem;
  line-height: 1.1;
  @include max(1199px) {
    font-size: 4rem;
  }
  @include max(767px) {
    font-size: 3rem;
  }
  @include max(575px) {
    font-size: 2rem;
  }
}

.hero__title {
  font-family: var(--font-four);
  font-size: 14rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1.1;
  span {
    color: $color-pri;
  }
  @include max(1199px) {
    font-size: 10rem;
  }
  @include max(767px) {
    font-size: 6rem;
  }
  @include max(575px) {
    font-size: 4rem;
  }
}

.hero__lead {
  text-align: center;
  color: #ffffff;
  max-width: 102.6rem;
  margin: 0 auto;
  @include max(575px) {
    display: none;
  }
}

.hero__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7.5rem;
  margin-top: 2.4rem;
  @include max(767px) {
    gap: 4rem;
  }
  @include max(575px) {
    gap: 1.6rem 2.4rem;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    .btn {
      border-radius: 0;
    }
  }
}
.hero__star {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 4rem;
    width: auto;
  }
  @include max(575px) {
    // display: none;
    margin-top: 1rem;
    img {
      max-height: 1.6rem;
    }
  }
}

.hero__quote {
  text-align: center;
  color: #313131;
  font-weight: 500;
}

.hero__author {
  display: flex;
  justify-content: flex-end;
  color: #313131;
  margin-top: 1rem;
  &-name {
    font-weight: 700;
  }
}

.hero__author-card {
  text-align: right;
}

.hero__team {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  img {
    width: 100%;
    height: auto;
  }
  @include max(575px) {
    margin-top: 2rem;
  }
}
.about {
  position: relative;
  z-index: 1;
  @include max(575px) {
    background: #fff;
    border-radius: 0.4rem;
    margin-top: -4rem;
    width: 94%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
  }
}
/* About */
.about-card {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  @include max(575px) {
    row-gap: 1.2rem;
  }
}
.about-card__body {
  @include max(575px) {
    br {
      display: none;
    }
  }
}

/* Results */
.results {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    @include max(767px) {
      row-gap: 2.4rem;
    }
    @include max(575px) {
      row-gap: 1.6rem;
    }
  }
}

.results-grid {
  // display: grid;
  // grid-template-columns: repeat(4, minmax(0, 1fr));
  // gap: 9px;
  // margin-top: 4rem;
  --sp: 0.4rem;
  margin-right: calc(-1 * var(--sp));
  margin-left: calc(-1 * var(--sp));
  .swiper {
    &-slide {
      width: 25%;
      padding: 0 var(--sp);
      @include max(1199px) {
        min-width: 28rem;
      }
      @include max(575px) {
        min-width: calc(14.6rem + 0.8rem);
      }
    }
  }
  @include max(767px) {
    --sp: 0.8rem;
    // margin-top: 2.4rem;
  }
  @include max(575px) {
    // margin-top: 1.6rem;
  }
}

.metric-card {
  background: #3c3bdf;
  background: linear-gradient(
    180deg,
    rgba(60, 59, 223, 1) 0%,
    rgba(33, 32, 121, 1) 100%
  );
  border-radius: 1.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  @include fz-24;
  row-gap: 1rem;
  & > img {
    width: 11.4rem;
    height: auto;
    @include max(767px) {
      display: none;
    }
  }
  @include max(767px) {
    font-size: 1.3rem;
    padding: 1.8rem 0.8rem;
  }
}
.metric-tt {
  @include fz-60;
  font-weight: 500;
  font-family: var(--font-thir);
  background-image: linear-gradient(to bottom, #fff1bc, #ffb214);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  @include max(767px) {
    font-size: 3rem;
  }
}
.results__quote {
  @include fz-25;
  font-family: var(--font-sec);
  max-width: 71.4rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: fit-content;
  text-align: center;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    @include bgImage(center, contain);
    @include max(767px) {
      display: none;
    }
  }
  &::before {
    top: 0;
    left: -2.6rem;
    background-image: url("../images/common/quote.svg");
  }
  &::after {
    bottom: 1.6rem;
    right: -1rem;
    background-image: url("../images/common/quote1.svg");
  }
}
//========
.trust {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6rem 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include min(1246px) {
      margin-left: calc((100vw - 121.6rem) / 2);
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__txt {
    max-width: 25.2rem;
    width: 20%;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      background: #000;
      height: 100%;
      top: 0;
      right: -2.5rem;
    }
    @include max(767px) {
      width: 100%;
      max-width: unset;
      text-align: center;
      &::after {
        display: none;
      }
    }
  }
  &__brand {
    width: calc(80% - 5rem);
    overflow: hidden;
    &-list {
      display: flex;
      align-items: center;
      // gap: 2.4rem;
      position: relative;
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.6rem;
      img {
        max-height: 8rem;
        width: auto;
        @include max(767px) {
          max-height: 6rem;
        }
        @include max(575px) {
          max-height: 3rem;
        }
      }
      @include max(575px) {
        padding: 0 0.8rem;
      }
    }

    @include max(767px) {
      width: 100%;
    }
  }
}
.global {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  @include max(991px) {
    margin-top: 8rem;
  }
  @include max(575px) {
    margin-top: 4rem;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.fields {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    @include max(575px) {
      row-gap: 1.6rem;
    }
  }
  &-tt {
    @include fz-35;
    color: #3c3bdf;
    text-transform: uppercase;
  }
  &__box {
    margin-top: 4rem;
    @include max(575px) {
      margin-top: 2rem;
    }
  }
}
.domains-grid {
  display: flex;
  --sp: 0.8rem;
  margin-right: calc(-1 * var(--sp));
  margin-left: calc(-1 * var(--sp));
  row-gap: 3.2rem;
  margin-top: 2.2rem;
  @include min(768px) {
    flex-wrap: wrap;
  }
}
.domain-item {
  width: 25%;
  padding: 0 var(--sp);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include max(767px) {
    width: fit-content;
    min-width: fit-content;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  @include max(575px) {
    font-size: 1.1rem;
    width: fit-content;
    min-width: fit-content;
  }
}
.domain-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 15rem;
    width: auto;
    max-width: 100%;
    @include max(991px) {
      max-height: 10rem;
    }
    @include max(575px) {
      max-height: 4rem;
    }
  }
}
.business-types {
  --sp: 1.5rem;
  margin-right: calc(-1 * var(--sp));
  margin-left: calc(-1 * var(--sp));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6.4rem;
  row-gap: 2.4rem;
  @include max(1199px) {
    --sp: 0.8rem;
  }
  @include max(767px) {
    margin-top: 4rem;
  }
  @include max(575px) {
    margin-top: 1.6rem;
    row-gap: 1.2rem;
  }
}
.business-item {
  width: calc(100% / 3);
  padding: 0 var(--sp);
  @include max(767px) {
    width: 50%;
  }
  @include max(575px) {
    width: 100%;
  }
}
.business-card {
  padding: 3rem 2.4rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  align-items: end;
  justify-content: space-between;
  height: 100%;
  @include max(1199px) {
    padding: 2.4rem 1.6rem;
    row-gap: 1.6rem;
  }
  @include max(575px) {
    row-gap: 0.4rem;
    padding: 2rem;
    border-radius: 0.5rem;
  }
}
/* Services */
.services {
  & + .global {
    margin-top: 4rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }
  &-tt {
    @include fz-32;
    font-family: var(--font-thir);
    color: #3c3bdf;
    transition: 0.5s;
    text-transform: uppercase;
    @include max(575px) {
      font-size: 1.2rem;
      font-weight: 500;
      font-family: var(--font-pri);
    }
  }
  .tt-25 {
    max-width: 79rem;
    margin-right: auto;
    margin-left: auto;
  }

  .business-item {
    &:nth-of-type(4),
    &:nth-of-type(5) {
      width: 50%;
    }
    &:nth-of-type(5) {
      @include max(767px) {
        width: 100%;
      }
    }
    &:nth-of-type(4) {
      @include max(575px) {
        width: 100%;
      }
    }
  }
  .business-card {
    height: fit-content;
    box-shadow: none;
    border-radius: 0;
    border: 2px solid #3c3bdf;
    align-items: start;
    row-gap: 0.8rem;
    justify-content: start;
    transition: 0.5s;
    @include max(575px) {
      padding: 1.2rem 1.8rem;
      border-width: 1px;
      border-radius: 0.4rem;
    }
    .btn {
      margin-left: auto;
      margin-top: 2.4rem;
      @include max(575px) {
        margin-top: 0;
      }
    }
    .mona-content {
      flex: 1;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
      @include max(575px) {
        -webkit-line-clamp: 3;
        line-clamp: 3;
      }
    }
    .is-toggle {
      max-height: 0;
      overflow: hidden;
      transition: 0.5s;
    }
    &:hover {
      background: #3c3bdf;
      .services-tt {
        color: #fff;
      }
      .mona-content {
        color: #fff;
        display: block;
        -webkit-line-clamp: unset;
        line-clamp: unset;
        -webkit-box-orient: unset;
        overflow: unset;
      }
      .is-toggle {
        max-height: unset;
      }
      .btn {
        background: $color-pri;
        color: #fff;
      }
    }
  }
}

/* Process */
.process {
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }
}
.c-timeline {
  position: relative;
  margin-top: 2.4rem;
}

// .c-timeline_progress {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: calc(30% - 1.1rem);
//   width: 2px;
//   margin-left: -1px;
//   background: rgba(#3c3bdf, 0.14);
// }

// .c-timeline_progress-bar {
//   position: absolute;
//   inset: 0 auto auto 0;
//   width: 100%;
//   height: 100%;
//   transform-origin: top center;
//   transform: scaleY(0);
//   background: #3c3bdf;
//   background: linear-gradient(
//     0deg,
//     rgba(60, 59, 223, 0) 0%,
//     rgba(60, 59, 223, 1) 30%,
//     rgba(60, 59, 223, 1) 50%,
//     rgba(60, 59, 223, 1) 75%,
//     rgba(60, 59, 223, 0) 100%
//   );
// }

.c-timeline_item {
  position: relative;
  display: flex;
  gap: 2.4rem;
  align-items: normal;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  padding: 2rem 0;
  &:first-child {
    margin-top: 0;
  }
  &.is-active {
    .c-card {
      background: #fbfbfb;
    }
  }
  @include max(767px) {
    gap: 0.8rem;
    padding: 1rem 0;
  }
}

.c-wrap {
  min-width: 0;
  width: 3rem;
  &.cc-align_left {
    width: 26%;
    @include max(767px) {
      width: 34%;
    }
  }
  &.cc-align_right {
    width: 68%;
    @include max(767px) {
      width: 60%;
    }
  }
}

.cc-timeline_item {
  opacity: 0.28;
  transition:
    opacity 0.45s ease,
    transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.timeline-step {
  font-family: var(--font-thir);
  font-size: 5rem;
  color: #000;
  @include max(767px) {
    font-size: 1.6rem;
  }
}

.timeline-tt {
  font-size: 3rem;
  font-family: var(--font-thir);
  color: #3c3bdf;
  text-transform: uppercase;
  @include max(767px) {
    font-size: 1.6rem;
  }
}

.c-wrap.cc-align_center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: var(--progress, 0%);
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
      0deg,
      rgba(60, 59, 223, 0) 0%,
      rgba(60, 59, 223, 1) 30%,
      rgba(60, 59, 223, 1) 50%,
      rgba(60, 59, 223, 1) 75%,
      rgba(60, 59, 223, 0) 100%
    );
    transition: height 0.1s linear;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(#3c3bdf, 0.25);
    @include transition;
  }
}

.timeline_circle {
  position: absolute;
  transition: height 0.1s linear;
  transform: translate(-50%, -50%);
  top: var(--dotY, 0%);
  left: 50%;
  transition: top 0.1s linear;
  z-index: 2;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: #3e3ae0;
  @include max(767px) {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.c-card {
  background: #d9d9d9;
  border-radius: 1.5rem;
  padding: 1.4rem 5rem;
  @include transition;
  @include max(767px) {
    padding: 1.6rem;
    border-radius: 0.5rem;
  }
}

.c-timeline_item.is-active .cc-timeline_item,
.c-timeline_item.is-active .c-card {
  opacity: 1;
  transform: none;
}

/* Reasons */
.reasons {
  // padding-top: 94px;
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }
}
.reason-wrap {
  margin-top: 2.4rem;
  @include max(575px) {
    margin-top: 0;
  }
}
.reason-list {
  display: flex;
  flex-wrap: wrap;
  --sp: 0.4rem;
  margin-right: calc(-1 * var(--sp));
  margin-left: calc(-1 * var(--sp));
  margin-top: 0.8rem;
  row-gap: var(--sp);
  &:nth-of-type(even) {
    .reason-item {
      &:first-child {
        width: 57%;
      }
      width: 43%;
      @include max(639px) {
        width: 100%;
        &:first-child {
          width: 100%;
        }
      }
    }
  }
}
.reason-item {
  padding: 0 var(--sp);
  &:first-child {
    width: 43%;
  }
  width: 57%;
  @include max(639px) {
    width: 100%;
    &:first-child {
      width: 100%;
    }
  }
}
.reason-card {
  border-radius: 1.5rem;
  background: #4631fe;
  color: #fff;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  height: 100%;
  .tt-sub {
    font-weight: 400;
    text-align: left;
    @include fz-45;
    font-family: var(--font-thir);
    @include max(500px) {
      font-size: 1.2rem;
    }
  }
  @include max(992px) {
    padding: 2.4rem 1.6rem;
    row-gap: 1.6rem;
  }
  @include max(639px) {
    font-size: 1.1rem;
    row-gap: 1.2rem;
    border-radius: 0.5rem;
    padding: 1.6rem;
  }
}

/* Projects */
.projects {
  // padding-top: 180px;
}

.projects-slider {
  margin-top: 4rem;
  margin-right: calc(-1 * var(--sp));
  --sp: 0.6rem;
  &:has(.swiper-pagination-bullet) {
    padding-bottom: 8rem;
    @include max(575px) {
      padding-bottom: 3rem;
    }
  }
  .swiper {
    &-slide {
      width: calc(100% / 3);
      padding: 0 var(--sp);
      min-width: 30rem;
      @include max(575px) {
        width: 100%;
        padding: 0.8rem var(--sp);
      }
    }
    &-pagination {
      &-bullet {
        @include min(768px) {
          width: 1.6rem;
          height: 1.6rem;
          margin: 0 1.2rem !important;
        }
      }
    }
  }
  @include max(575px) {
    margin-top: 1.6rem;
  }
}

.project-card {
  background: #ffffff;
  border-radius: 1.5rem;
  position: relative;
  // padding-top: 3.4rem;
  margin-top: 3.4rem;
  display: block;
  @include max(575px) {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
  }
}
.project-card__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff1bc;
  border-radius: 2.6rem;
  background: linear-gradient(0deg, #ffb214, #fff1bc);
  padding: 1rem;
  width: 80%;
  position: absolute;
  top: -3.4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  img {
    max-height: 4.4rem;
    @include max(575px) {
      max-height: 2.4rem;
    }
  }
  @include max(575px) {
    border-radius: 0.5rem;
    width: 65%;
  }
}
.project-card__media {
  position: relative;
  aspect-ratio: 40.6/22.2;
  border-radius: 1.5rem;
  display: block;
  overflow: hidden;
  @include max(575px) {
    border-radius: 0.5rem;
  }
}
.project-card__media img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.project-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2.4rem;
  @include max(575px) {
    padding: 2rem;
    row-gap: 1.6rem;
  }
  .tt-sub {
    @include fz-32;
    color: #3c3bdf;
    font-family: var(--font-thir);
    line-height: 1.2;
    text-align: left;
    font-weight: 400;
    @include transition;
    text-transform: none;
    &:hover {
      // text-decoration: underline;
      color: $color-pri;
    }
    @include max(575px) {
      font-size: 2rem;
    }
  }
  .btn {
    margin-top: 1.2rem;
    width: fit-content;
    margin-left: auto;
    font-family: var(--font-thir);
    @include fz-24;
    font-weight: 400;
    color: #fff;
    text-transform: none;
    border-radius: 0.5rem;
    padding: 1rem 2.4rem;
    box-shadow: 8px 8px rgba($color-pri, 0.3);
    @include max(575px) {
      margin-top: 0.6rem;
      padding: 0.8rem 1.6rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      box-shadow: 6px 6px rgba($color-pri, 0.3);
    }
  }
  .mona-content {
    @include fz-20;
    p {
      margin: 0.2rem 0;
    }
    @include max(575px) {
      font-size: 1.2rem;
    }
  }
}
.project-card__brand {
  margin: 0;
  font-family: var(--font-heading);
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-primary);
}

.project-card__info {
  background: #3c3bdf;
  padding: 1.2rem 3.4rem;
  position: relative;
  z-index: 1;
  top: 5rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: space-between;
  min-height: 8.4rem;
  @include max(575px) {
    min-height: 8.2rem;
    top: 3rem;
  }
}
.project-card__tt {
  display: flex;
  font-family: var(--font-thir);
  flex-direction: column;
  @include fz-15;
  color: #fff;
  .tt-25 {
    font-family: var(--font-thir);
    font-weight: 400;
    color: #fff;
    text-transform: none;
    text-align: left;
  }
}
.project-card__ava {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.project-card__star {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 4rem;
    width: auto;
    @include max(575px) {
      max-height: 2.4rem;
    }
  }
  @include max(575px) {
    margin-top: 1.2rem;
  }
}
.testimonials {
  .project-card {
    margin-top: 5.5rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    @include max(575px) {
      margin-top: 3.4rem;
    }
  }
  .project-card__brand {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    @include min(767px) {
      border-radius: 2.4rem;
      background: transparent;
      border: unset;
      padding: 3rem 1rem;
      padding-bottom: 5rem;
      padding-top: 2rem;
      height: 13rem;
      top: -5.5rem;
      width: 85%;
    }
    img {
      max-height: 5.6rem;
      @include max(575px) {
        max-height: 2.6rem;
      }
    }
    @include max(575px) {
      width: 55%;
      height: 5rem;
      padding: 0.8rem;
    }
  }
  .project-card__body {
    // padding-top: 4rem;
    padding: 4rem 3.5rem;
    padding-top: 2.4rem;
    margin-top: 4rem;
    row-gap: 1.2rem;
    & > img {
      width: 2.4rem;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      // margin-top: 1.6rem;
    }
    .mona-content {
      @include fz-15;
    }
    @include max(575px) {
      padding: 2.2rem 2.8rem;
      margin-top: 2rem;
    }
  }
  .projects-slider {
    @include min(992px) {
      --sp: 1.4rem;
    }
    .swiper {
      &-slide {
        padding: 8px var(--sp);
      }
    }
  }
}

/* Press */
.press {
  &-article {
    border-radius: 2.4rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 2rem 2.8rem;
    @include max(575px) {
      padding: 1rem 1.8rem;
      border-radius: 0.5rem;
    }
    &__media {
      position: relative;
      display: block;
      aspect-ratio: 57.2/29.8;
      border-radius: 1.5rem;
      overflow: hidden;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include max(575px) {
        border-radius: 0.5rem;
      }
    }
    &__content {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      padding-bottom: 1rem;
    }
    &__excerpt {
      @include fz-20;
      font-family: var(--font-sec);
      font-style: italic;
      strong {
        font-weight: 700;
      }
    }
    &__source {
      font-family: var(--font-pri);
      @include fz-20;
      font-style: italic;
      a {
        color: #0051ff;
        text-decoration: underline;
      }
    }
  }
  .projects-slider {
    --sp: 1.2rem;
    .swiper {
      &-slide {
        width: 50%;
        padding: 8px var(--sp);
        @include max(575px) {
          width: 100%;
        }
      }
    }
  }
}

/* Lead */
.lead {
  padding-bottom: 8rem;
  @include max(575px) {
    padding-bottom: 4rem;
  }
  .sec-tt {
    color: #000;
    span {
      color: #3c3bdf;
    }
  }
  &-form {
    border-radius: 1rem;
    margin-top: 4rem;
    padding: 5rem;
    padding-bottom: 13rem;
    @include bgImage;
    background-image: url("../images/common/form-bg.jpg");
    @include max(767px) {
      padding: 4rem 2.4rem;
      padding-bottom: 8rem;
    }
    @include max(575px) {
      padding: 3.2rem 1.4rem;
      padding-bottom: 6rem;
      margin-top: 2.4rem;
    }
  }
  &-action {
    position: absolute;
    bottom: -5.1rem;
    left: 50%;
    transform: translateX(-50%);
    @include max(767px) {
      bottom: -3.1rem;
    }
    @include max(575px) {
      bottom: -2.1rem;
    }
    .btn {
      max-height: 10.2rem;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      font-size: 5rem;
      font-family: var(--font-thir);
      white-space: nowrap;
      border-radius: 2.6rem;
      background: linear-gradient(
        0deg,
        rgba(255, 241, 188, 1) 0%,
        rgba(255, 178, 20, 1) 100%
      );
      border: 2px solid #fff1bc;
      color: #3c3bdf;
      font-weight: 400;
      @include max(767px) {
        font-size: 2rem;
        border-radius: 0.5rem;
        border: 0;
        background: rgba(255, 241, 188, 1);
      }
    }
  }
}

/* Gallery */
.gallery {
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1.741fr 1.81fr 0.68fr 0.68fr 1.11fr 1.83fr 1.94fr;
  grid-template-rows: repeat(4, 17.8rem);
  margin: 0 auto;
  @include max(991px) {
    grid-template-rows: repeat(4, 14.8rem);
  }
  @include max(767px) {
    grid-template-rows: repeat(4, 12.8rem);
  }
  @include max(575px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-item {
  overflow: hidden;
  @include max(575px) {
    width: calc(100% / 3);
    &:nth-of-type(4),
    &:nth-of-type(7) {
      width: 100%;
    }
    &:nth-of-type(5),
    &:nth-of-type(6) {
      width: 50%;
    }
    &:last-child {
      width: calc(2 * (100% / 3));
    }
  }
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item--1 {
  grid-column: 1;
  grid-row: 1;
}

.gallery-item--2 {
  grid-column: 2;
  grid-row: 1;
}

.gallery-item--3 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  @include max(767px) {
    grid-column: 3 / span 3;
  }
}

.gallery-item--4 {
  grid-column: 5 / span 3;
  grid-row: 1 / span 2;
  @include max(767px) {
    grid-column: 6 / span 2;
  }
}

.gallery-item--5 {
  grid-column: 1;
  grid-row: 2;
}

.gallery-item--6 {
  grid-column: 2;
  grid-row: 2;
}

.gallery-item--7 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
}

.gallery-item--8 {
  grid-column: 4 / span 2;
  grid-row: 3 / span 2;
}

.gallery-item--9 {
  grid-column: 6;
  grid-row: 3;
}

.gallery-item--10 {
  grid-column: 7;
  grid-row: 3;
}

.gallery-item--11 {
  grid-column: 6;
  grid-row: 4;
}

.gallery-item--12 {
  grid-column: 7;
  grid-row: 4;
}
//========= faq=========
.faq-list {
  margin-top: 4rem;
  @include max(575px) {
    margin-top: 2.4rem;
  }
}
.faq-item {
  margin-top: 1.2rem;
  &.is-active {
    .faq-icon {
      background: $color-pri;
    }
  }
}

.faq-head {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 2rem;
  @include max(767px) {
    gap: 1rem;
  }
  @include max(575px) {
    gap: 0.5rem;
  }
}
.faq-icon {
  flex-shrink: 0;
  width: 9rem;
  min-height: 8.2rem;
  background: #3c3bdf;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 800;
  cursor: pointer;
  @include transition;
  @include max(767px) {
    width: 6rem;
  }
  @include max(575px) {
    width: 2.5rem;
    font-size: 2rem;
    min-height: 5.2rem;
  }
}
.faq-tt {
  background: #3c3bdf;
  text-transform: uppercase;
  @include fz-20;
  font-weight: 700;
  flex: 1;
  padding: 1.2rem;
  padding-left: 6.5rem;
  min-height: 8.2rem;
  display: flex;
  align-items: center;
  @include max(767px) {
    padding-left: 2.4rem;
  }
  @include max(575px) {
    min-height: 5.2rem;
    font-size: 1.2rem;
    padding: 1.2rem;
  }
}

.faq-content {
  cursor: default;
  position: relative;
  will-change: height;
  overflow: hidden;
  display: none;
  .mona-content {
    padding: 2.2rem;
    padding-left: 6.5rem;
    padding-right: 11rem;
    @include max(767px) {
      padding: 1.6rem;
      padding-left: 2.4rem;
      padding-right: 7rem;
    }
    @include max(767px) {
      padding: 1.2rem;
      padding-right: 3rem;
    }
  }
}

/* Footer */
.site-footer {
  position: relative;
  background: #3c3bdf;
  background: linear-gradient(
    180deg,
    rgba(60, 59, 223, 1) 0%,
    rgba(33, 32, 121, 1) 100%
  );
  padding-top: 5rem;
  padding-bottom: 8rem;
  @include max(575px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .header-logo {
    justify-content: start;
    margin-bottom: 3.4rem;
    img {
      height: 4.2rem;
    }
  }
  .container {
    position: relative;
  }
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem 1.6rem;
  @include max(767px) {
    flex-wrap: wrap;
    justify-content: start;
  }
}
.footer-column {
  &:nth-of-type(1) {
    width: 20%;
    @include max(767px) {
      width: calc(100% / 3 - (1 - 1 / 3) * 1.6rem);
    }
    @include max(575px) {
      width: 100%;
    }
  }
  &:nth-of-type(2) {
    width: 24%;
    @include max(767px) {
      width: calc(100% / 3 - (1 - 1 / 3) * 1.6rem);
    }
    @include max(575px) {
      width: calc(100% / 2 - (1 - 1 / 2) * 1.6rem);
    }
  }
  &:nth-of-type(3) {
    width: 20%;
    @include max(767px) {
      width: calc(100% / 3 - (1 - 1 / 3) * 1.6rem);
    }
    @include max(575px) {
      width: calc(100% / 2 - (1 - 1 / 2) * 1.6rem);
    }
  }
  &:nth-of-type(4) {
    width: 30%;
    @include max(767px) {
      width: 100%;
    }
  }
}
.footer-tt {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-list li,
.footer-list a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.footer-list--contact li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  & > img {
    width: 2.2rem;
    height: auto;
    flex-shrink: 0;
  }
}

.footer-list li {
  margin-top: 2.4rem;
  ul {
    margin-top: 2.4rem;
    li {
      margin-top: 1rem;
    }
  }
  @include max(575px) {
    margin-top: 1.6rem;
  }
}
.footer-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-content: space-between;
}
.footer-social {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 3.2rem;
      height: 3.2rem;
      @include transition;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}
.footer-form {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.newsletter-form {
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  width: 100%;
}

.newsletter-form input {
  min-height: 3.2rem;
  padding: 0 1.8rem;
  border: 0;
  color: #000;
  font-size: 1.5rem;
  width: 100%;
  padding-right: 11rem;
  border: 0;
  &::placeholder {
    color: #6c6c6c;
  }
  &:focus {
    outline: unset;
    border: unset;
  }
}

.form-btn {
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 2px solid #fff1bc;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2.6rem;
  height: 3.2rem;
  min-width: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff1bc;
  background: #4631fe;
  background: linear-gradient(
    180deg,
    rgba(70, 49, 254, 1) 0%,
    rgba(62, 58, 224, 1) 100%
  );
  font-family: var(--font-pri);
  position: absolute;
  right: 0;
  top: 0;
}

.footer-map {
  max-height: 21.5rem;
  position: relative;
  aspect-ratio: 34.4/21.6;
  iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.footer-column--wide {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  padding-top: 1.6rem;
  font-size: 1.1rem;
  color: #fff;
  width: 50%;
  font-weight: 500;
  &::before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 100%;
    background: #d9d9d9;
    height: 1px;
  }
  @include max(767px) {
    position: relative;
    bottom: unset;
    margin-top: 2.4rem;
    width: 100%;
  }
}

.footer-column {
  .menu-list {
    flex-direction: column;
    align-items: start;
    @include max(767px) {
      padding: 0;
    }
  }
  .menu-item {
    margin-top: 2.4rem;
    padding: 0;
    text-align: left;
    color: #fff;
    font-size: 1.1rem;
    font-family: var(--font-pri);
    font-weight: 500;
    @include max(767px) {
      border: 0;
      a {
        padding: 0;
      }
    }
    @include max(575px) {
      margin-top: 1.6rem;
    }
  }
}
